<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
<title>Choose a genealogy</title>
<meta name="robots" content="none">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon_gwd.png') }}">
<!-- Liens CSS corrigés -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
</head>
<body>
<div class="container text-center ">
<h1 class="mt-5">Choose a genealogy</h1>

{% if error %}
    <div class="alert alert-danger" role="alert">
        Error: {{ error }}
    </div>
{% endif %}

<div class="my-3">
<span>Please, enter the name of the database you want to use:</span>
<form class="form-inline d-flex justify-content-center my-2" method="get" action="{{ url_for('choose_genealogy') }}">
<input type="hidden" name="lang" value="{{ lang }}">
<input name="b" placeholder="Database name" class="form-control col-4">
<button type="submit" class="btn btn-outline-secondary ml-2" value="">Ok</button>
</form>

{% if databases %}
    List of available genealogies:<br>
    {% for db in databases %}
        <a href="{{ url_for('search_page', db_name=db) }}">{{ db }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
{% else %}
    <p class="mt-3">
        No database found.
        <a href="http://localhost:2316/welcome">Go to management interface to create one.</a>
    </p>
{% endif %}
</div>
<h3 class="text-center mt-5">View in:</h3>
<div class="d-flex flex-wrap justify-content-center col-11 mt-2 mx-auto">
<a class="btn btn-outline-secondary" href="?lang=af" title="af">Afrikaans</a>
<a class="btn btn-outline-secondary" href="?lang=ar" title="ar">العربية</a>
<a class="btn btn-outline-secondary" href="?lang=de" title="de">Deutsch</a>
<a class="btn btn-outline-secondary" href="?lang=en" title="en">English</a>
<a class="btn btn-outline-secondary" href="?lang=es" title="es">Español</a>
<a class="btn btn-outline-secondary" href="?lang=fr" title="fr">français</a>
<a class="btn btn-outline-secondary" href="?lang=it" title="it">italiano</a>
<!-- (autres langues) -->
</div>
</div>
<div class="btn-group float-right mt-5 mr-5">
<span class="align-self-center">GeneWeb v. 7.1-beta &copy; <a href="https://www.inria.fr/">INRIA</a> 1998-2017  </span>
<a href="https://github.com/geneweb/geneweb" class="ml-1" target="_blank" title="GeneWeb sources on GitHub">
<img src="{{ url_for('static', filename='images/logo_bas.png') }}" alt="Logo GeneWeb"></a>
<a href="https://geneweb.tuxfamily.org/wiki/GeneWeb" target="_blank" title="GeneWeb documentation MediaWiki">
<img src="{{ url_for('static', filename='images/logo_bas_mw.png') }}" alt="Logo GeneWeb Mediawiki"></a>
</div>
</div>
<!-- Liens JS corrigés -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
